.cards {
    display: flex;
    margin: auto;
    width: 900px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
    .cards {
        width: 600px;
    }
}

@media screen and (max-width: 768px){
    .cards {
        width: 300px;
    }
}

.card {
    margin-top: 10px;
    margin-right: 10px;
    width: 282px;
    height: 200px;
    line-height: 0;
}

.card__foto {
    width: 100%;
    height: 80%;
}

.card__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    background-color: #666;
}

.card__title {
    padding: 0;
    margin: 0;
    padding-left: 30px;
    width: 150px;
}

.card__like-button {
    background-repeat: no-repeat;
    background-image: url(/task1/assets/heart.svg);
    background-color: transparent;
    background-position: center; 
    border: none; 
    min-width: 22px; 
    min-height: 19px; 
    cursor: pointer; 
    padding:0; 
    transition: opacity 0.3s; 
}
 
 
.card__like-button_active {
    background-image: url(/task1/assets/heart-red.svg);
}


.card__delete-button {
    font-size: 20px;
}