* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: 'Poppins', sans-serif;
}

.main {
  width: 900px;
  padding: 0;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .main {
    width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    width: 300px;
  }
}

.cards {
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  margin-left: 9px;
  margin-right: 9px;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
  width: 282px;
  line-height: 0;
}

.card__foto {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 200px;
}

.card__description {
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 12px;
  background-color: #fff;
}

.card__title {
  padding: 0;
  margin: 0;
}

.card__like-button {
  background-repeat: no-repeat;
  background-image: url(../assets/heart.svg);
  background-color: transparent;
  background-position: center;
  border: none;
  min-width: 22px;
  min-height: 19px;
  cursor: pointer;
  padding: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.card__like-button_active {
  background-image: url(../assets/heart-red.svg);
}

.card__delete-button {
  background-image: url(../assets/delete.svg);
  cursor: pointer;
  background-position: center;
  background-color: transparent;
  width: 18px;
  height: 19px;
  position: absolute;
  border: none;
  top: 15px;
  right: 15px;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  padding: 30px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  -webkit-transition: visibility 0s linear 0.3s, opacity .3s linear;
  transition: visibility 0s linear 0.3s, opacity .3s linear;
}

.modal_open {
  opacity: 1;
  visibility: visible;
}

.modal__box {
  background-color: #fff;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  border-radius: 5px;
  position: relative;
}

.modal__close-button {
  position: absolute;
  line-height: 0;
  height: 40px;
  width: 40px;
  top: -40px;
  right: -40px;
  background: none;
  border: none;
  color: #fff;
  font-size: 60px;
}

.modal__title {
  padding: 0;
  margin: 0;
}

.modal__form {
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__input {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 10px;
  font-size: 14px;
}

.modal__save-button {
  background-color: #000;
  color: #fff;
  border: 0px;
  height: 50px;
  border-radius: 1px;
  font-size: 20px;
}

.user {
  padding: 20px 10px 20px 10px;
  height: 160px;
  background-color: #000;
  color: #fff;
}

.user__header {
  margin: 0px;
}

.user__foto {
  margin: 0px;
  height: 75px;
  width: 75px;
}

.user__edit-info-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  background-repeat: no-repeat;
  background-image: url(../assets/pen.svg);
  background-color: transparent;
  background-position: center;
}

.user__add-card-button {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border-radius: 1px;
  border: 1px solid #fff;
  width: 100px;
  height: 30px;
  font-size: 30px;
  line-height: 0px;
}

.user__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user__info {
  width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__box_open-img {
  width: auto;
  height: auto;
  max-width: 1024px;
  max-height: 1024px;
  background-color: transparent;
}

.modal__open-img-title {
  font-size: 35px;
  margin: 0;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */